@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background: #0A0A0A;
}

.header-container {
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: left;
    text-transform: uppercase;
    color: #C7C7C7;
    text-decoration: none;
}

.header-nav-list {
    display: flex;
    gap: 32px;
    margin-top: 12px;
}

.header-nav-item {
    text-decoration: none;
    list-style: none;
}

.header-nav-link {
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #C7C7C7;
}

.hamburger-menu {
    display: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 6px;
    padding-right: 6px;
    background: #0A0A0A;
    width: 44px;
    height: 44px;
    border: none;
}



.hero {
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: #0A0A0A;
}

.hero-container {
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 80px;
}

.all-div-hero {
    display: flex;
    gap: 20px;
}

.hero-container1 {
    padding-top: 160px;
}

.hero-container-title {
<<<<<<< HEAD
    font-family: "Bebas Neue",sans-serif;
=======
    font-family: "Bebas Neue", sans-serif;
>>>>>>> ae6f6e153b8388bfddd2e2399ac117150d5f5761
    font-size: 101px;
    font-weight: 400;
    line-height: 90.9px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}

.hero-container-text {
<<<<<<< HEAD
    font-family: "Manrope",sans-serif;
=======
    font-family: "Manrope", sans-serif;
>>>>>>> ae6f6e153b8388bfddd2e2399ac117150d5f5761
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #C7C7C7;
    margin-top: 8px;
    margin-bottom: 40px;
    max-width: 544px;
}

.hero-container1-links {
    display: flex;
    gap: 16px;
}

.hero-container1-link1 {
    width: 187px;
    border-radius: 100px;
    background-color: #D3E97A;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 24px;
    text-decoration: none;
    color: #0A0A0A;
    font-family: "" Manrope"", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    display: flex;
}

.hero-container-point {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
    align-items: center;
    margin-left: 20px;
}

.hero-container1-link2 {
    width: 54px;
    border-radius: 100px;
    background-color: #222222;
    align-items: center;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.hero-container1-link3 {
    width: 54px;
    border-radius: 100px;
    background-color: #222222;
    align-items: center;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.hero-container2 {
    max-width: 600px;
    max-height: 700px;
    background: #C7C7C7;
    border-radius: 16px;
    margin-left: auto;
}

.hero-container2-img {
    max-width: 600px;
    max-height: 700px;
    display: flex;
}

.hero-link {
    display: none;
}

.feature {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #0A0A0A;
}

.feature-container {
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
}

.feature-heading {
    margin-bottom: 40px;
}

img3 .feature-heading-title1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 76px;
    font-weight: 400;
    line-height: 76px;
    color: #fff;
}

.feature-heading-title2 {
    margin-top: 8px;
    font-family: "" Manrope"", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
}

.feature-body {
    display: flex;
    margin-top: 40px;
    margin-bottom: 80px;
}


.feature-body-left {
    background-color: #1A1A1A;
    max-width: 100%;
    border-radius: 12px;
    padding-bottom: 127px;
    padding-right: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.feature-body-left-btn {
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #fff;
    padding: 8px 16px;
    background: #0A0A0A;
    border-radius: 100px;
    margin-left: 16px;
    border: none;
    margin-bottom: 73px;
    position: absolute;
    top: 16px;
}

.feature-body-left-img {
    object-fit: cover;
    margin-left: 57px;
    margin-top: 127px;
}


.feature-body-right {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 48px;
}

.feature-body-right-title {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 44.8px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.feature-body-right-text {
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
    margin-bottom: 32px;
}

.feature-nav-list {
    list-style: none;
    text-decoration: none;
    max-width: 576px;
}

.feature-nav-link {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    margin-bottom: 16px;
}

.feature-nav-nav-list1 {
    list-style: none;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-top: #484848 solid 1px;

}

.feature-nav-nav1-link1 {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
}

.feature-nav-nav1-link2 {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
}

.feature-nav-nav-list2 {
    list-style: none;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-top: #484848 solid 1px;
    border-bottom: #484848 solid 1px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 48px;
}

.feature-nav-nav2-link1 {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #fff;
}

.feature-nav-nav2-link2 {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #fff;
}

.feature-nav-list1 {
    list-style: none;
    text-decoration: none;
    color: #fff;
    display: flex;
    text-align: center;
}

.feature-nav1-link1 {
    list-style: none;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.feature-nav1-link2 {
    list-style: none;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.feature-nav1-link1 {
    color: #D3E97A;
    margin-right: 24px;
    border-bottom: #D3E97A solid 2px;
    padding-bottom: 4px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

}

.feature-nav1-link2 {
    color: #D3E97A;
    border-bottom: #D3E97A solid 2px;
    padding-bottom: 4px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

}

.feature-nav1-link1-img {
    margin-left: 4px;
    max-width: 20px;
    height: 20px;
}

.feature-nav1-link2-img {
    margin-left: 4px;
    max-width: 26px;
    height: 26px;
}

.about {
    padding-top: 122px;
    padding-bottom: 80px;
    background: #0A0A0A;
}

.about-container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

.about-first {
    display: flex;

}

.about-first-left-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 101px;
    font-weight: 400;
    line-height: 90.9px;
    color: white;
}

.about-first-right {
    max-width: 704px;
    margin-left: auto;
}

.about-first-right-title {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 44.8px;
    color: white;
}

.about-first-right-text {
    margin-top: 16px;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: white;
}

.feature-nav-list1 {
    list-style: none;
    text-decoration: none;
    color: #fff;
    display: flex;
    text-align: center;
    margin-top: 53px;
}

.feature-nav1-link1 {
    list-style: none;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.black-line {
    max-width: 100%;
    height: 1px;
    background-color: #484848;
}

footer {
    padding-top: 25px;
    padding-bottom: 80px;
    background-color: #0A0A0A;
}

.footer-container {
    margin-top: 55px;
    display: flex;
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
}

.footer-left {
    width: 100%;
    padding-right: 298px;
}

.footer-left-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 76px;
    font-weight: 400;
    line-height: 76px;
    color: white;
    margin-bottom: 16px;
}

.footer-left-text1 {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #C7C7C7;
}

.footer-left-text1-span1 {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    text-decoration: none;
    border-bottom: 1px #D3E97A solid;
    padding-bottom: 3px;
}

.footer-left-text2 {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #C7C7C7;
    margin-top: 8px;
    margin-bottom: 40px;
}

.footer-left-text1-span2 {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    text-decoration: none;
    border-bottom: 1px #D3E97A solid;
    padding-bottom: 3px;
}

.footer-nav-list {
    display: flex;
    gap: 24px;
}

.footer-nav-link1 {
    max-width: 32px;
    height: 32px;
}

.footer-nav-link2 {
    width: 32px;
    height: 32px;
}

.footer-nav-link3 {
    width: 32px;
    height: 32px;
}

.footer-nav-link4 {
    width: 32px;
    height: 32px;
}

.footer-left-developer {
    margin-top: 359px;
    color: white;
}

.footer-right {
    width: 100%;
    margin-left: 24px;
}

.footer-right-input-title1 {
    margin-bottom: 8px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #c7c7c7;
}

.footer-right-input1 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    margin-bottom: 24px;
    max-width: 100%;
    color: white;
    background-color: #1A1A1A;
    border: none;
    border-radius: 4px;
}

.footer-right-input-title2 {
    margin-bottom: 8px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #c7c7c7;
}

.footer-right-input2 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    margin-bottom: 24px;
    max-width: 100%;
    color: white;
    background-color: #1A1A1A;
    border: none;
    border-radius: 4px;
}

.footer-right-input-title3 {
    margin-bottom: 8px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #c7c7c7;
}

.footer-right-input3 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    margin-bottom: 24px;
    max-width: 100%;
    color: white;
    background-color: #1A1A1A;
    border: none;
    border-radius: 4px;
}

.footer-right-input-title4 {
    margin-bottom: 8px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #c7c7c7;
}

.footer-right-input4 {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    max-width: 100%;
    height: 156px;
    color: white;
    background-color: #1A1A1A;
    border: none;
    resize: none;
    border-radius: 4px;
}

.submit {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: black;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 100px;
    background-color: #D3E97A;
    border: none;
    margin-top: 40px;
}

.former {
    display: grid;
    max-width: 100%;
}


.feature-body-left-imgg {
    display: none;
}





.feature .feature-body:nth-child(2) .feature-body-left-img {
    width: 343px;
}

.feature .feature-body:nth-child(3) .feature-body-left-img {
    width: 343px;


}
<<<<<<< HEAD


=======
>>>>>>> ae6f6e153b8388bfddd2e2399ac117150d5f5761

@media(max-width:640px) {
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

<<<<<<< HEAD
    .header-container {
        
    }

.all-div-hero{
    display: block;
}

    .header-logo {
        max-width: 128px;
        height: 28px;
=======
    .header-container {}

    .all-div-hero {
        display: block;
    }

    .header-logo {
        max-width: 128px;
        height: 28px;
        font-size: 28px;
        font-weight: 400;
        line-height: 28px;

>>>>>>> ae6f6e153b8388bfddd2e2399ac117150d5f5761
    }

    .header-nav-list {
        display: none;
    }

    .header-nav-item {}

    .header-nav-link {}

    .hamburger-menu {
        display: block;
<<<<<<< HEAD
    }

    .hero {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero-container {}

    .hero-container1 {}

    .hero-container-title {}

    .hero-container-text {}

    .hero-container1-links {}

    .hero-container1-link1 {}

    .hero-link {}

    .hero-container-point {}

    .hero-container1-link2 {}

    .hero-container1-link3 {}

    .hero-container2 {}

    .hero-container2-img {}

    .black-line {}

    .feature {}

    .feature-container {}

    .feature-heading {}

    .feature-heading-title1 {}

    .feature-heading-title2 {}

    .feature-body {}

    .feature-body-left {}

    .feature-body-left-btn {}

    .feature-body-left-img {}

    .feature-body-left-imgg {}

    .feature-body-right {}

    .feature-body-right-title {}

    .feature-body-right-text {}

    .feature-nav-list {}

    .feature-nav-link {}

    .feature-nav-nav-list1 {}

    .feature-nav-nav1-link1 {}

    .feature-nav-nav1-link2 {}

    .feature-nav-nav-list2 {}

    .feature-nav-nav2-link1 {}

    .feature-nav-nav2-link2 {}

    .feature-nav-list1 {}

    .feature-nav1-link1 {}

    .feature-nav1-link1-img {}

    .feature-nav1-link2 {}

    .feature-nav1-link2-img {}

    .about {}

    .about-container {}

    .about-first {}

    .about-first-left-title {}

    .about-first-right {}

    .about-first-right-title {}

    .about-first-right-text {}

    .footer-container {}

    .footer-left {}

    .footer-left-title {}

    .footer-left-text1 {}

    .footer-left-text1-span1 {}

    .footer-left-text2 {}

    .footer-nav-list {}

    .footer-nav-link1 {}

    .footer-nav-link2 {}

    .footer-nav-link3 {}

    .footer-nav-link4 {}

    .footer-left-developer {}

    .footer-right {}

    .former {}

    .footer-right-input-title1 {}

    .footer-right-input1 {}

    .footer-right-input-title2 {}

    .footer-right-input2 {}

    .footer-right-input-title3 {}

    .footer-right-input3 {}

    .footer-right-input-title4 {}

    .footer-right-input4 {}

    .submit {}

=======
    }

    .hero {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero-container {}

    .hero-container1 {
        padding-top: 40px;
    }

    .hero-container-title {
        width: 307px;
        font-size: 57px;
        font-weight: 400;
        line-height: 57px;
        margin-top: 40px;
    }

    .hero-container-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        max-width: 544px;
        margin-left: auto;
    }

    .hero-container1-links {
        margin-bottom: 64px;
        max-width: 291px;
        height: 48px;

    }

    .hero-container1-link1 {}

    .hero-link {}

    .hero-container-point {}

    .hero-container1-link2 {}

    .hero-container1-link3 {}

    .hero-container2 {
        padding-right: 16px;
    }

    .hero-container2-img {
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
    }

    .black-line {}

    .feature {
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .feature-container {}

    .feature-heading {}

    .feature-heading-title1 {
        font-size: 43px;
        font-weight: 400;
        line-height: 43px;
    }

    .feature-heading-title2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        max-width: 343px;
        height: 78px;
        margin-bottom: 64px;
    }

    .feature-body {
        flex-direction: column;
    }

    .feature-body-left {
        max-width: 343px;
        height: 343px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        padding-right: 10px;
    }

    .feature-body-left-btn {
        position: absolute;
        top: 10px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        max-width: 123px;
        height: 30px;
    }

    .feature-body-left-img3 {
        width: 150px;
        margin-left: 0;
    }

    .feature-body-left-img {}

    .feature-body-left-imgg {
        display: block;
        margin-bottom: 0;
    }

    .feature-body-right {
        padding-left: 16px;
        margin-top: 40px;
        padding-bottom: 0;
    }

    .feature-body-right-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 33.6px;
        max-width: 343px;
        height: 68px;
        margin-bottom: 16px;
    }

    .feature-body-right-text {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        max-width: 343px;
        height: 156px;
    }

    .feature-nav-list {}

    .feature-nav-link {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .feature-nav-nav-list1 {}

    .feature-nav-nav1-link1 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .feature-nav-nav1-link2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .feature-nav-nav-list2 {}

    .feature-nav-nav2-link1 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .feature-nav-nav2-link2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }

    .feature-nav-list1 {
        margin-top: 40px;
    }

    .feature-nav1-link1 {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
    }

    .feature-nav1-link1-img {}

    .feature-nav1-link2 {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
    }

    .feature-nav1-link2-img {
        width: 22px;
        height: 22px;
    }

    .about {}

    .about-container {}

    .about-first {}

    .about-first-left-title {}

    .about-first-right {}

    .about-first-right-title {}

    .about-first-right-text {}

    .footer-container {}

    .footer-left {}

    .footer-left-title {}

    .footer-left-text1 {}

    .footer-left-text1-span1 {}

    .footer-left-text2 {}

    .footer-nav-list {}

    .footer-nav-link1 {}

    .footer-nav-link2 {}

    .footer-nav-link3 {}

    .footer-nav-link4 {}

    .footer-left-developer {}

    .footer-right {}

    .former {}

    .footer-right-input-title1 {}

    .footer-right-input1 {}

    .footer-right-input-title2 {}

    .footer-right-input2 {}

    .footer-right-input-title3 {}

    .footer-right-input3 {}

    .footer-right-input-title4 {}

    .footer-right-input4 {}

    .submit {}

>>>>>>> ae6f6e153b8388bfddd2e2399ac117150d5f5761
}